<p id="notice"><%= notice %></p>

<h1>All Posts</h1><br>



    <% @posts.each do |post| %>

        <%= link_to post.title, post_path(post) %><br>
        Published <%=time_ago_in_words(post.created_at)%> ago<br>

    <% end %>



<br><br>

<%= link_to 'New Post', new_post_path %>
